# --- ENTORNO VIRTUAL ---
venv/
ENV/

# --- VARIABLES DE ENTORNO ---
.env

# --- TEMPORALES PYTHON ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- EDITOR / IDE ---
.vscode/
.idea/

# --- BD y BACKUPS ---
*.db
*.sqlite3
*.bak